### find total number of male and female
### find total number of software engineers
### find total number of unique occupation
### find rtotal number of people are overweight
### find total number of people who are obese
### find total number of people whose heart rate is >= 60 and <= 80
### find total numebe of people whose activity level is greater than 30
### find the highest activity level and find how many people belong to that category
### make two columns systolic and diastiloc and fill it with values from blood pressure column
### find correlation between sysolic and diastolic blood pressure and heatrate
### find corr between quality of sleep, sleep duration and heart rate

In [1]:
import pandas as pd

/Users/umeshregmi/miniconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

In [3]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [5]:
df.Gender.value_counts().loc['Male']

189

In [6]:
(df.Gender == 'Male').sum()

189

In [7]:
(df.Gender.str.lower() == 'male').sum()

189

In [8]:
(df.Gender.str.lower() == 'female').sum()

185

In [9]:
df.Occupation.unique()

array(['Software Engineer', 'Doctor', 'Sales Representative', 'Teacher',
       'Nurse', 'Engineer', 'Accountant', 'Scientist', 'Lawyer',
       'Salesperson', 'Manager'], dtype=object)

In [10]:
df.Occupation.value_counts().loc['Software Engineer']

4

In [11]:
(df.Occupation == 'Software Engineer').sum()

4

In [13]:
len(df.Occupation.unique())

11

In [14]:
df.Occupation.nunique()

11

In [15]:
df['BMI Category'].unique()

array(['Overweight', 'Normal', 'Obese', 'Normal Weight'], dtype=object)

In [16]:
(df['BMI Category'] == 'Overweight').sum()

148

In [17]:
(df['BMI Category'] == 'Obese').sum()

10

In [18]:
((df['Heart Rate'] >= 60) & (df['Heart Rate'] <= 80)).sum()

362

In [20]:
df['Heart Rate'].between(60, 80).sum()

362

In [21]:
(df['Physical Activity Level'] > 30).sum()

306

In [22]:
df[df['Physical Activity Level'] > 30]

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
6,7,Male,29,Teacher,6.3,6,40,7,Obese,140/90,82,3500,Insomnia
7,8,Male,29,Doctor,7.8,7,75,6,Normal,120/80,70,8000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [23]:
df['Physical Activity Level'].max()

90

In [24]:
df[df['Physical Activity Level'] == 90]

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
163,164,Male,40,Lawyer,7.9,8,90,5,Normal,130/85,68,8000,NaN
164,165,Male,40,Lawyer,7.9,8,90,5,Normal,130/85,68,8000,NaN
165,166,Male,41,Lawyer,7.6,8,90,5,Normal,130/85,70,8000,Insomnia
169,170,Male,41,Lawyer,7.7,8,90,5,Normal,130/85,70,8000,NaN
170,171,Male,41,Lawyer,7.7,8,90,5,Normal,130/85,70,8000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,304,Female,51,Nurse,6.0,6,90,8,Overweight,140/95,75,10000,Sleep Apnea
304,305,Female,51,Nurse,6.1,6,90,8,Overweight,140/95,75,10000,Sleep Apnea
305,306,Female,51,Nurse,6.1,6,90,8,Overweight,140/95,75,10000,Sleep Apnea
341,342,Female,56,Doctor,8.2,9,90,3,Normal Weight,118/75,65,10000,NaN
342,343,Female,56,Doctor,8.2,9,90,3,Normal Weight,118/75,65,10000,NaN

In [25]:
(df['Physical Activity Level'] == 90).sum()

67

In [26]:
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [28]:
df['Systolic'] = df['Blood Pressure'].apply(lambda x: x.split('/')[0])

In [30]:
df['Diastolic'] = df['Blood Pressure'].apply(lambda x: x.split('/')[1])

In [32]:
df.drop('Blood Pressure', axis=1, inplace=True)

In [33]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,NaN,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,NaN,125,80
2,3,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,NaN,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,68,7000,Sleep Apnea,140,95

In [34]:
corr_df = df[['Heart Rate', 'Systolic', 'Diastolic']]

In [36]:
corr_df.corr()

            Heart Rate  Systolic  Diastolic
Heart Rate    1.000000  0.294143   0.271092
Systolic      0.294143  1.000000   0.972885
Diastolic     0.271092  0.972885   1.000000

In [37]:
temp_df = df[['Sleep Duration', 'Quality of Sleep', 'Heart Rate']]

In [39]:
temp_df.corr()

                  Sleep Duration  Quality of Sleep  Heart Rate
Sleep Duration          1.000000          0.883213   -0.516455
Quality of Sleep        0.883213          1.000000   -0.659865
Heart Rate             -0.516455         -0.659865    1.000000